---
import ItemEduWork from './item-edu-work.astro';
import Section from './section.astro';
---

<Section title='Education & Work'>
  <ItemEduWork
    date='04/22 – --/--'
    title='Front-end Web Developer'
    location='TradeNet Maldives Corporation Ltd, Malé, Maldives'
    tools={[
      'JavaScript',
      'TypeScript',
      'React',
      'NextJs',
      'Tailwindcss',
      'RTK Query',
      'AWS Flightcontrol',
      'Remix',
      'Payload CMS',
    ]}
  />
  <ItemEduWork
    date='01/21 – --/--'
    title='Full-stack Web Developer and DevOps'
    location='Excorp, Malé, Maldives'
    tools={[
      'JavaScript',
      'React',
      'NextJs',
      'Mongoose',
      'MongoDB',
      'Tailwindcss',
      'Digitalocean',
      'NGINX',
      'PM2',
      'Ubuntu',
    ]}
  />
  <ItemEduWork
    date='09/19 – 12/20'
    title='Software Developer'
    location='Sorting Company, Malé, Maldives'
    tools={[
      'C#',
      'PHP',
      'Dart',
      'Flutter',
      'AWS',
      'Plesk',
      'MSSQL',
      'MySQL',
      'Windows Forms',
      'WPF',
      '.NET',
    ]}
  />
  <ItemEduWork
    date='02/18 – 05/18'
    title='Intern Front-End Web Developer'
    location='CTI, APIIT, KL, Malaysia'
    tools={['Angular', 'Ionic']}
  />
  <ItemEduWork
    date='04/16 – 05/19'
    title='B.Sc. Software Engineering'
    subtitle='dropout'
    location='Asia Pacific University, KL, Malaysia'
    tools={[
      'Java',
      'C#',
      'Azure',
      'SQL',
      'JSP',
      'ASP',
      'MSSQL',
      'Netbeans',
      'Eclipse',
      'Visual Studio',
    ]}
  />
</Section>
