---
import Section from './section.astro';
---

<Section title='Inspirations'>
  <h3 class='text-black font-bold text-xl mb-2 border-b'>Books</h3>
  <ul class='text-black'>
    <li>The C Programming Language - Brian Kernighan & Dennis Ritchie</li>
    <li>Code and Other Laws of Cyberspace - Lawrence Lessig</li>
    <li>The Future of Ideas - Lawrence Lessig</li>
    <li>Free Culture - Lawrence Lessig</li>

    <li>
      <a
        href='http://www.catb.org/esr/writings/cathedral-bazaar/cathedral-bazaar/'
      >
        The Cathedral and the Bazaar - Eric S. Raymond
      </a>
    </li>

    <li>
      <a href='https://joyofcryptography.com'>
        The Joy of Cryptography - Mike Rosulek
      </a>
    </li>
  </ul>

  <h3 class='text-black font-bold text-xl mt-4 mb-2 border-b'>Videos</h3>
  <ul class='text-black'>
    <li>
      <a href='https://youtu.be/6avJHaC3C2U'>The Art of Code - Dylan Beattie</a>
    </li>
  </ul>

  <h3 class='text-black font-bold text-xl mt-4 mb-2 border-b'>People</h3>
  <ul
    class='text-black grid grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 text-center'
  >
    <li>
      <img class='mx-auto rounded-xl w-2/3' src='/img/lessig.webp' />
      Lawrence Lessig
    </li>
    <li>
      <img class='mx-auto rounded-xl w-2/3' src='/img/doctorow.webp' />
      Cory Doctorow
    </li>
    <li>
      <img class='mx-auto rounded-xl w-2/3' src='/img/torvalds.webp' />
      Linus Torvalds
    </li>
    <li>
      <img class='mx-auto rounded-xl w-2/3' src='/img/carmack.webp' />
      John Carmack
    </li>
    <li>
      <img class='mx-auto rounded-xl w-2/3' src='/img/schneier.webp' />
      Bruce Schneier
    </li>
    <li>
      <img class='mx-auto rounded-xl w-2/3' src='/img/timblee.webp' />
      Tim Berners-Lee
    </li>
    <li>
      <img class='mx-auto rounded-xl w-2/3' src='/img/satoshi.webp' />
      Satoshi Nakamoto
    </li>
    <li>
      <img class='mx-auto rounded-xl w-2/3' src='/img/turing.webp' />
      Alan Turing
    </li>
    <li>
      <img class='mx-auto rounded-xl w-2/3' src='/img/rossum.webp' />
      Guido van Rossum
    </li>
    <li>
      <img class='mx-auto rounded-xl w-2/3' src='/img/knuth.webp' />
      Donald Knuth
    </li>
    <li>
      <img class='mx-auto rounded-xl w-2/3' src='/img/ritchie.webp' />
      Dennis Ritchie
    </li>
    <li>
      <img class='mx-auto rounded-xl w-2/3' src='/img/wozniak.webp' />
      Steve Wozniak
    </li>
    <li>
      <img class='mx-auto rounded-xl w-2/3' src='/img/lovelace.webp' />
      Ada Lovelace
    </li>
    <li>
      <img class='mx-auto rounded-xl w-2/3' src='/img/alankay.webp' />
      Alan Kay
    </li>
    <li>
      <img class='mx-auto rounded-xl w-2/3' src='/img/thompson.webp' />
      Ken Thompson
    </li>
    <li>
      <img class='mx-auto rounded-xl w-2/3' src='/img/stroustrup.webp' />
      Bjarne Stroustrup
    </li>
    <li>
      <img class='mx-auto rounded-xl w-2/3' src='/img/kernighan.webp' />
      Brian Kernighan
    </li>
    <li>
      <img class='mx-auto rounded-xl w-2/3' src='/img/neumann.webp' />
      John von Neumann
    </li>
    <li>
      <img class='mx-auto rounded-xl w-2/3' src='/img/stallman.webp' />
      Richard M. Stallman
    </li>
    <li>
      <img class='mx-auto rounded-xl w-2/3' src='/img/euler.webp' />
      Leonhard Euler
    </li>
    <li>
      <img class='mx-auto rounded-xl w-2/3' src='/img/euclid.webp' />
      Euclid
    </li>
    <li>
      <img class='mx-auto rounded-xl w-2/3' src='/img/maxwell.webp' />
      James Clerk Maxwell
    </li>
    <li>
      <img class='mx-auto rounded-xl w-2/3' src='/img/tesla.webp' />
      Nikola Tesla
    </li>
    <li>
      <img class='mx-auto rounded-xl w-2/3' src='/img/newton.webp' />
      Isaac Newton
    </li>
    <li>
      <img class='mx-auto rounded-xl w-2/3' src='/img/einstein.webp' />
      Albert Einstein
    </li>
  </ul>

  <h3 class='text-black font-bold text-xl mt-4 mb-2 border-b'>Organisations</h3>
  <ul
    class='text-black grid grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 text-center text-sm'
  >
    <li class='flex'>
      <a class='flex flex-col' href='https://www.eff.org'>
        <img class='m-auto w-2/3' src='/img/eff.svg' />
        <p>Electronic Frontier Foundation</p>
      </a>
    </li>
    <li class='flex'>
      <a class='flex flex-col' href='https://www.fightforthefuture.org'>
        <div class='bg-black flex flex-1'>
          <img class='m-auto w-2/3' src='/img/fftf-logo.svg' />
        </div>
        <p>Fight for the Future</p>
      </a>
    </li>
    <li class='flex'>
      <a class='flex flex-col' href='https://www.defectivebydesign.org'>
        <img class='m-auto w-2/3' src='/img/dbd-logo.png' />
        <p>Defective by Design</p>
      </a>
    </li>
    <li class='flex'>
      <a class='flex flex-col' href='https://www.mozilla.org'>
        <img class='m-auto w-2/3' src='/img/mozilla.svg' />
        <p>Mozilla</p>
      </a>
    </li>
    <li class='flex'>
      <a class='flex flex-col' href='https://www.torproject.org'>
        <img class='m-auto w-2/3' src='/img/tor.svg' />
        <p>Tor Project</p>
      </a>
    </li>
    <li class='flex'>
      <a class='flex flex-col' href='https://www.fsf.org'>
        <img class='m-auto w-2/3' src='/img/fsf.png' />
        <p>Free Software Foundation</p>
      </a>
    </li>
    <li class='flex'>
      <a class='flex flex-col' href='https://www.gnu.org'>
        <img class='m-auto w-2/3' src='/img/gnu.png' />
        <p>GNU</p>
      </a>
    </li>
  </ul>

  <h3 class='text-black font-bold text-xl mt-4 mb-2 border-b'>Fun</h3>
  <ul
    class='text-black grid grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 text-center text-sm'
  >
    <li>
      <a class='block' href='https://xkcd.com'>
        <img class='mx-auto w-2/3' src='/img/xkcd.png' />
        <p>xkcd</p>
      </a>
    </li>
    <li>
      <a class='block' href='https://theoatmeal.com'>
        <img class='mx-auto w-2/3' src='/img/theoatmeal.png' />
        <p>The Oatmeal</p>
      </a>
    </li>
  </ul>
</Section>
