---
import Section from "./section.astro";
---

<Section title="Philosophy & Politics" class="text-black">
    <h3 class="text-2xl font-bold mb-3 underline">Philosophical principles</h3>
    <p class="text-lg font-bold mb-1">Enforce truth; eradicate falsehood</p>
    <p class="text-lg font-bold mb-1">
        Absorb and spread knowledge and information
    </p>
    <p class="text-lg font-bold mb-1">
        Let information fly free, stand against censorship
    </p>
    <p class="text-lg font-bold mb-1">Be selfless, help all, nurture society</p>
    <p class="text-lg font-bold mb-1">Never cheat and expose every injustice</p>
    <p class="text-lg font-bold mb-1">
        Do not fight against the architecture and nature, accept it, utilize it
    </p>
    <p class="text-lg font-bold mb-1">
        Think everything through, try to understand all, push the mind to its
        limits
    </p>
    <p class="text-lg font-bold mb-1">
        Be the engineer, fix problems that makes you struggle now, do not let
        the future suffer the same
    </p>
    <h3 class="text-2xl font-bold mb-3 mt-8 underline">Political views</h3>
    <p class="text-lg font-bold mb-1">Socialist, anti-capitalist</p>
    <p class="text-lg font-bold mb-1">Think globally and long-term</p>
    <p class="text-lg font-bold mb-1">Consensus of committee</p>
    <p class="text-lg font-bold mb-1">
        For a better life for all and all to come
    </p>
</Section>
