---
import ItemDarkHalf from './item-dark-half.astro';
import Section from './section.astro';
---

<Section title='Projects' class='grid md:grid-cols-2 gap-4 lg:gap-8' checked>
  <ItemDarkHalf
    title='This the new website'
    href='https://github.com/majudhu/majudhu.co-astro'
  >
    <p>
      A port of the
      <a href='https://github.com/majudhu/majudhu.co'>old website</a>
      made using
      <a href='https://tailwindcss.com'>Astro</a> and
      <a href='https://astro.build'>Tailwind</a>
    </p>
  </ItemDarkHalf>

  <ItemDarkHalf title='Excorp Websites'>
    <a href='https://dhiggaru.gov.mv'>Dhiggaru Island Council</a>,
    <a href='https://malecity.gov.mv/en'>Malé City Council</a>,
    <a href='https://maldivesyachtrally.com'>MITDC Yacht Rally 2022</a>,
    <a href='https://icom.mv'>ICOM</a>,
    <a href='https://excorp.mv'>Excorp</a>,
    <a href='https://sukunplay.com'>Sukunplay</a>,
    <a
      class='hover:text-red-500 hover:underline'
      href='https://adduvasnews.com'
    >
      Adduvas
    </a>
  </ItemDarkHalf>

  <ItemDarkHalf
    title='SLUT: reserve slots to a game lobby'
    href='https://github.com/majudhu/slut'
  >
    <p>
      <a href='https://slut.fly.dev'>A website</a> built with <a
        href='https://remix.run'
        >Remix
      </a>. It uses
      <a
        href='https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events'
        >Server-sent events
      </a> for realtime updates, <a href='https://sqlite.org'>SQLite</a> as database,
      <a href='https://www.prisma.io'>Prisma</a> as ORM and is ready to host on <a
        href='https://fly.io'
        >Fly.io
      </a>. By using Typescript and Prisma on a Remix project, it is made fully
      type-safe from front-end to database. It also uses pnpm and includes a
      heavily optimized <a
        href='https://docs.docker.com/develop/develop-images/build_enhancements/'
        >BuildKit Dockerfile
      </a>. Hence, it is ready to deploy on any container hosting platform.
    </p>
  </ItemDarkHalf>

  <ItemDarkHalf
    title='C# 🔹 .NET 🔹 WPF 🔹 Async 🔹 DB'
    href='https://github.com/majudhu/wpf-async-db-wrapper'
  >
    <p>C# Async Database Wrapper with Presentation Framework (WPF) test UI</p>
  </ItemDarkHalf>

  <ItemDarkHalf title='WebGitSim' href='https://github.com/majudhu/webgitsim'>
    <p>Git Storage Simulator</p>
  </ItemDarkHalf>

  <ItemDarkHalf title='Faifuh' href='https://majudhu.github.io/faifuh/'>
    <p>
      Some html/js calculations and helpers designed for my personal use
      <a href='https://github.com/majudhu/faifuh'>GitHub repo</a>
    </p>
  </ItemDarkHalf>
</Section>
