---
import ItemDarkHalf from './item-dark-half.astro';
import Section from './section.astro';
---

<Section title='Skills' class='grid md:grid-cols-2 gap-4 lg:gap-8'>
  <ItemDarkHalf title='Languages'>
    <span class='skill high'>HTML</span>
    <span class='skill high'>CSS</span>
    <span class='skill high'>JavaScript</span>
    <span class='skill high'>TypeScript</span>
    <span class='skill high'>C#</span>
    <span class='skill high'>Dart</span>
    <span class='skill high'>Regex</span>

    <span class='skill med'><b>Rust</b></span>
    <span class='skill med'>C</span>
    <span class='skill med'>Bash</span>
    <span class='skill med'>Python</span>
    <span class='skill med'>Java</span>
    <span class='skill med'>SQL</span>
    <span class='skill med'>PHP</span>

    <span class='skill low'>C++</span>
    <span class='skill low'>Perl</span>
    <span class='skill low'>Kotlin</span>
    <span class='skill low'>Swift</span>
    <span class='skill low'>Go</span>
    <span class='skill low'>Assembly</span>
    <span class='skill low'>Haskell</span>
  </ItemDarkHalf>

  <ItemDarkHalf title='Frameworks & Libraries'>
    <span class='skill high'>Next.js</span>
    <span class='skill high'>React</span>
    <span class='skill high'>expressjs</span>
    <span class='skill high'>Bootstrap</span>
    <span class='skill high'>tailwindcss</span>
    <span class='skill high'>Remix</span>
    <span class='skill high'>RTK Query</span>
    <span class='skill high'>React Query</span>
    <span class='skill high'>Nuxt</span>

    <span class='skill med'>Flutter</span>
    <span class='skill med'>Vue</span>
    <span class='skill med'>Astro</span>
    <span class='skill med'>.NET</span>
    <span class='skill med'>Windows Forms</span>
    <span class='skill med'>WPF</span>
    <span class='skill med'>Ionic</span>
    <span class='skill med'>Mongoose</span>
    <span class='skill med'>Prisma</span>

    <span class='skill low'>Svelte</span>
    <span class='skill low'>SolidJS</span>
    <span class='skill low'>Flask</span>
    <span class='skill low'>JSP</span>
    <span class='skill low'>Laravel</span>
    <span class='skill low'>Android</span>
  </ItemDarkHalf>

  <ItemDarkHalf title='Applications & Tools'>
    <span class='skill high'>SSH</span>
    <span class='skill high'>Git</span>
    <span class='skill high'>Wireguard</span>
    <span class='skill high'>Linux (Debian, Fedora, Ubuntu, Arch)</span>
    <span class='skill high'>NodeJs</span>
    <span class='skill high'>VScode</span>
    <span class='skill high'>Docker +BuildKit</span>
    <span class='skill high'>NGINX</span>
    <span class='skill high'>Payload CMS</span>
    <span class='skill high'>PM2</span>
    <span class='skill high'>Redis</span>
    <span class='skill high'>SQLite</span>
    <span class='skill high'>Nixpacks</span>

    <span class='skill med'>Meilisearch</span>
    <span class='skill med'>MariaDB</span>
    <span class='skill med'>MySQL</span>
    <span class='skill med'>Vim</span>
    <span class='skill med'>PostgreSQL</span>
    <span class='skill med'>MSSQL</span>
    <span class='skill med'>MongoDB</span>
    <span class='skill med'>Apache</span>
    <span class='skill med'>GPG</span>
    <span class='skill med'>Postman</span>
    <span class='skill med'>Visual Studio</span>
    <span class='skill med'>Android Studio</span>

    <span class='skill low'>Xcode</span>
    <span class='skill low'>Netbeans</span>
    <span class='skill low'>Eclipse</span>
  </ItemDarkHalf>

  <ItemDarkHalf title='Online Platforms & Services'>
    <span class='skill high'>Github (Actions, Pages)</span>
    <span class='skill high'>Vercel</span>
    <span class='skill high'>Fly.io</span>
    <span class='skill high'>Digitalocean</span>
    <span class='skill high'>Firebase</span>
    <span class='skill high'>Plesk</span>
    <span class='skill high'>Cloudflare (DNS, Pages, Functions)</span>
    
    <span class='skill med'>AWS (ec2, beanstalk, lightsail, lambda, s3)</span>
    <span class='skill med'>Azure</span>
    <span class='skill med'>Render</span>
    <span class='skill med'>Google Cloud</span>
    <span class='skill med'>MongoDB Atlas</span>
    <span class='skill med'>Deno Deploy</span>
    <span class='skill med'>AWS Flightcontrol</span>
    <span class='skill high'>Microsoft Dynamics Graph API</span>
    
    <span class='skill low'>CircleCI</span>
    <span class='skill low'>TravisCI</span>
  </ItemDarkHalf>

  <ItemDarkHalf title='Protocols & Standards'>
    <span class='skill high'>SSH</span>
    <span class='skill high'>HTTP</span>
    <span class='skill high'>JSON</span>
    <span class='skill high'>REST</span>
    <span class='skill high'>API</span>
    <span class='skill high'>DNS</span>
    <span class='skill high'>IP</span>
  </ItemDarkHalf>

  <ItemDarkHalf title='Other Applications'>
    <span class='skill high'>Microsoft Office Word & Excel</span>
    <span class='skill high'>Affinity Photo & Designer</span>
    
    <span class='skill med'>Adobe Photoshop</span>
    <span class='skill med'>Adobe Illustrator</span>
    <span class='skill med'>CorelDRAW</span>
    <span class='skill med'>Handbrake</span>
    <span class='skill med'>Figma</span>

    <span class='skill low'>Adobe XD</span>
    <span class='skill low'>Lunacy</span>
    <span class='skill low'>Inkscape</span>
    <span class='skill low'>GIMP</span>
  </ItemDarkHalf>
</Section>

<style>
  @tailwind components;

  @layer components {
    .skill {
      @apply inline-block px-1 m-1 rounded;
    }
    .skill.high {
      @apply bg-gray-500 text-white font-bold;
    }
    .skill.med {
      @apply bg-gray-700 text-gray-200;
    }
    .skill.low {
      @apply text-gray-400 text-xs;
    }
  }
</style>
