---
import Section from './section.astro';
---

<Section
  title='Social Media'
  class='grid grid-cols-3 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-7 xl:grid-cols-8 gap-4 lg:gap-8 justify-items-center'
>
  <a href='https://github.com/majudhu'>
    <img class='w-16 h-16 object-contain object-center' src='img/github.webp' />
  </a>
  <a href='https://twitter.com/majudhu'>
    <img class='w-16 h-16 object-contain object-center' src='img/twitter.png' />
  </a>
  <a href='https://linkedin.com/in/majudhu'>
    <img class='w-16 h-16 object-contain object-center' src='img/linkedin.png'
    />
  </a>
  <a href='https://t.me/majudhu'>
    <img class='w-16 h-16 object-contain object-center' src='img/telegram.svg'
    />
  </a>
  <a href='https://reddit.com/u/majudhu'>
    <img class='w-16 h-16 object-contain object-center' src='img/reddit.png' />
  </a>
  <a href='https://fb.me/majudhu'>
    <img class='w-16 h-16 object-contain object-center' src='img/facebook.webp'
    />
  </a>
  <a href='https://instagram.com/mmajudhuu'>
    <img class='w-16 h-16 object-contain object-center' src='img/instagram.webp'
    />
  </a>
  <a href='https://unsplash.com/@majudhu'>
    <img class='w-16 h-16 object-contain object-center' src='img/unsplash.svg'
    />
  </a>
  <a href='https://www.youtube.com/c/majudhu'>
    <img class='w-16 h-16 object-contain object-center' src='img/youtube.webp'
    />
  </a>
  <a href='https://steamcommunity.com/id/majudhu'>
    <img class='w-16 h-16 object-contain object-center' src='img/steam.webp' />
  </a>
  <a href='https://open.spotify.com/user/214mvsleb7yslxr4ppuwbidya'>
    <img class='w-16 h-16 object-contain object-center' src='img/spotify.webp'
    />
  </a>
  <a href='https://soundcloud.com/majudhu/'>
    <img class='w-16 h-16 object-contain object-center' src='img/soundcloud.png'
    />
  </a>
  <a href='https://9gag.com/u/majudhu'>
    <img class='w-16 h-16 object-contain object-center' src='img/9gag.png' />
  </a>
  <a href='https://discord.com/users/322954867117129728'>
    <img class='w-16 h-16 object-contain object-center' src='img/discord.svg' />
  </a>
  <a href='https://codesandbox.io/u/majudhu'>
    <img
      class='w-16 h-16 object-contain object-center'
      src='img/codesandbox.svg'
    />
  </a>
  <a href='https://dev.to/majudhu'>
    <img class='w-16 h-16 object-contain object-center' src='img/dev.to.png' />
  </a>
  <a href='https://www.faceit.com/en/players/majudhu'>
    <img class='w-16 h-16 object-contain object-center' src='img/faceit.svg' />
  </a>
  <a href='https://bitbucket.org/majudhu/'>
    <img class='w-16 h-16 object-contain object-center' src='img/bitbucket.webp'
    />
  </a>
  <a href='https://gitea.com/majudhu'>
    <img class='w-16 h-16 object-contain object-center' src='img/gitea.webp' />
  </a>
  <a href='https://gitlab.com/majudhu/'>
    <img class='w-16 h-16 object-contain object-center' src='img/gitlab.svg' />
  </a>
  <a href='https://imgur.com/user/majudhu'>
    <img class='w-16 h-16 object-contain object-center' src='img/imgur.png' />
  </a>
  <a href='https://jsbench.me/user/majudhu'>
    <img class='w-16 h-16 object-contain object-center' src='img/jsbench.png' />
  </a>
  <a href='https://jsfiddle.net/user/majudhu/'>
    <img class='w-16 h-16 object-contain object-center' src='img/jsfiddle.svg'
    />
  </a>
  <a href='https://pastebin.com/u/majudhu'>
    <img class='w-16 h-16 object-contain object-center' src='img/pastebin.webp'
    />
  </a>
  <a href='https://majudhu.tumblr.com'>
    <img
      class='w-16 h-16 object-contain object-center'
      height='64'
      src='img/tumblur.svg'
    />
  </a>
</Section>
