---
import PortofolioItemDarkHalf from "./portofolio-item-dark-half.astro";
import PortofolioSection from "./portofolio-section.astro";
---

<PortofolioSection title="Gaming">
    <PortofolioItemDarkHalf title="Excorp Websites">
        <a href="https://malecity.gov.mv/en"> Malé City Council</a>,
        <a href="https://maldivesyachtrally.com"> MITDC Yacht Rally 2022</a>,
        <a href="https://icom.mv"> ICOM</a>,
        <a href="https://excorp.mv"> Excorp</a>,
        <a href="https://sukunplay.com"> Sukunplay</a>,
        <a
            class="hover:text-red-500 hover:underline"
            href="https://adduvasnews.com"
        >
            Adduvas
        </a>
    </PortofolioItemDarkHalf>
</PortofolioSection>
