---
import EduWork from "./edu-work.astro";
import PhiloPolitics from "./philo-politics.astro";
import Projects from "./projects.astro";
import Section from "./section.astro";
import Skills from "./skills.astro";
import SocialMedia from "./social-media.astro";
---

<section class="sm:container pb-[100vh] sm:pb-0" id="portofolio">
    <div class="bg-lime-600 -ml-[50vw] pl-[50vw] text-white">
        <div class="relative py-8">
            <h2
                class="pb-3 border-b border-white mb-8 font-bold lg:text-lg sm:w-48 text-center sm:text-left"
            >
                PORTOFOLIO
            </h2>
            <Projects />
            <Skills />
            <EduWork />

            <Section title="Gaming" class="grid lg:grid-cols-2 gap-4">
                <img class="w-full" src="/img/profile_picture.jpg" />
                <img class="w-full" src="/img/bb.jpg" />
            </Section>

            <Section title="Social & Travel" class="grid lg:grid-cols-2 gap-4">
                <img class="w-full" src="img/scene1.jpg" />
                <img class="w-full" src="img/scene2.jpg" />
            </Section>

            <Section title="Fotografi" class="grid lg:grid-cols-2 gap-4">
                <img class="w-full" src="img/flower.jpg" />
                <img class="w-full" src="img/scene3.jpg" />
            </Section>

            <SocialMedia />
            <PhiloPolitics />
        </div>
    </div>
</section>
