---
export interface Props {
    title: string;
}
const { title } = Astro.props as Props;
---

<label class="block w-1/5 my-3">
    <input type="radio" name="portofolio" class="peer hidden" checked />
    <h2
        class="peer-checked:text-teal-800 peer-checked:font-bold cursor-pointer hover:font-bold"
    >
        {title}
    </h2>
    <div
        class="absolute top-0 h-full left-1/4 right-0 bg-white grid grid-cols-2 gap-4 md:gap-6 lg:gap-8 overflow-y-auto py-4 px-8 lg:py-8 lg:px-12 invisible peer-checked:visible"
    >
        <slot />
    </div>
</label>
