---
import EduWork from "./edu-work.astro";
import Fotografi from "./fotografi.astro";
import Gaming from "./gaming.astro";
import PhiloPolitics from "./philo-politics.astro";
import Projects from "./projects.astro";
import Skills from "./skills.astro";
import SocialMedia from "./social-media.astro";
import SocialTravel from "./social-travel.astro";
---

<section class="container relative">
    <div class="bg-lime-600 -ml-[50vw] pl-[50vw] text-white py-8">
        <h2 class="pb-3 border-b border-white mb-8 font-bold lg:text-lg w-1/4">
            PORTOFOLIO
        </h2>
        <Projects />
        <Skills />
        <EduWork />
        <Gaming />
        <SocialTravel />
        <Fotografi />
        <SocialMedia />
        <PhiloPolitics />
    </div>
</section>
