---
export interface Props {
    title: string;
    class?: string;
}
const { title, class: classes = "" } = Astro.props as Props;
---

<label class="block sm:w-48 my-3">
    <input type="radio" name="portofolio" class="peer hidden" checked />
    <h2
        class="peer-checked:text-teal-800 peer-checked:font-bold cursor-pointer hover:font-bold text-center sm:text-left"
    >
        {title}
    </h2>
    <div
        class={"absolute top-[420px] w-full sm:w-auto sm:top-0 h-screen sm:h-full sm:left-48 right-0 bg-white items-start content-start overflow-y-auto pt-4 pb-16 px-4 sm:pr-0 sm:pl-8 lg:pt-8 sm:pb-8 lg:px-12 invisible peer-checked:visible " +
        classes}
    >
        <slot />
    </div>
</label>
