---
import Navbar from "../components/navbar.astro";
import Header from "../components/header.astro";
import Intro from "../components/intro.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Majudhu's Personal Blog</title>
		<meta
			name="description"
			content="I am nowhere. I am anywhere. I am everywhere. I am here. I am the one with the way of the ninja."
		/>
	</head>
	<body>
		<Navbar />
		<Header />
		<Intro />
	</body>
</html>
