---
import Navbar from '../components/navbar.astro';
import Header from '../components/header.astro';
import Intro from '../components/intro.astro';
import Portfolio from '../components/portfolio/portfolio.astro';
import Highlights from '../components/highlights.astro';

import '../styles/globals.css';
import Quotes from '../components/quotes.astro';
import Footer from '../components/footer.astro';
import Blog from '../components/blog/blogs.astro';
---

<html lang='en' class='scroll-smooth'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Majudhu's Personal Blog</title>
    <meta
      name='description'
      content='I am nowhere. I am anywhere. I am everywhere. I am here. I am the one with the way of the ninja.'
    />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>
    <Navbar />
    <Header />
    <Intro />
    <Portfolio />
    <Highlights />
    <Blog />
    <Quotes />
    <Footer />
  </body>
</html>
