<section class="bg-gray-800 text-white pt-28 pb-10">
    <div
        class="container flex flex-col-reverse md:flex-row items-center gap-8 text-center"
    >
        <div class="md:mr-auto md:text-left">
            <h1 class="text-2xl font-bold">
                <span class="text-3xl text-green-500">M</span>AJUDHU
            </h1>
            <p>
                <img class="w-3.5 inline-block" src="img/cc_icon_white_x2.png"
                />
                <img class="w-3.5 inline-block" src="img/zero_white_x2.png" />
                {new Date().getFullYear()} Majudhu
            </p>
        </div>
        <div class="flex">
            <div class="pr-4 border-r text-right">
                <p>Malé, <br /> Maldives</p>
            </div>
            <div class="pl-4 text-left">
                <p>Naifaru, <br /> Maldives</p>
            </div>
        </div>
        <ul class="md:ml-auto md:text-right">
            <li><strong>Email</strong>: majudhu.sup@gmail.com</li>
            <li>
                <strong>PGP</strong>: <a href="pgp.txt">95E6A79D7B190AC5</a>
            </li>
            <li><strong>Phone</strong>: +960 977-2707</li>
        </ul>
    </div>
</section>
