<section class="bg-neutral-800 text-gray-200 pt-20 pb-4 font-light">
    <div class="container md:flex items-center gap-8 text-center">
        <dl class="md:mr-auto md:text-left my-8">
            <dt class="inline font-semibold">Email:</dt>
            <dd class="inline">majudhu.sup@gmail.com</dd>
            <br />
            <dt class="inline font-semibold">PGP:</dt>
            <dd class="inline"><a href="pgp.txt">95E6A79D7B190AC5</a></dd>
            <br />
            <dt class="inline font-semibold">Phone:</dt>
            <dd class="inline">+960 977-2707</dd>
        </dl>
        <ul class="flex justify-center my-8 leading-relaxed">
            <li class="pr-4 border-r border-white/60 text-right">
                <p>Malé, <br /> Maldives</p>
            </li>
            <li class="pl-4 text-left">
                <p>Naifaru, <br /> Maldives</p>
            </li>
        </ul>
        <div class="md:ml-auto md:text-right my-8">
            <img class="-mt-1 w-3.5 inline-block" src="img/cc_icon_white_x2.png"
            />
            <img class="-mt-1 w-3.5 inline-block" src="img/zero_white_x2.png" />
            {new Date().getFullYear()}
            <h1 class="inline text-2xl font-normal">
                <span class="text-3xl text-green-500">M</span>AJUDHU
            </h1>
        </div>
    </div>
</section>
