<header
    id="home"
    class="sm:pt-16 bg-[url('/img/carina-cliffs.jpg')] bg-cover bg-top lg:bg-[center_top_20%]"
>
    <h2
        class="text-center text-xl md:text-2xl text-white py-8 bg-gradient-to-r from-black/5 via-black/30 to-black/5"
    >
        <span class="text-yellow-400">I</span>
        <span class="text-teal-400">am</span> nowhere.<span
            class="text-yellow-400"
            >I
        </span>
        <span class="text-teal-400">am</span> anywhere.<br />
        <span class="text-yellow-400">I</span>
        <span class="text-teal-400">am</span> everywhere.<span
            class="text-yellow-400"
        >
            I
        </span>
        <span class="text-teal-400">am</span> here.<br />
        <span class="text-yellow-400">I</span>
        <span>am</span> the one with the way of the ninja.
    </h2>
</header>
